<h1>Список постов</h1>

<div>
  <% @posts.each_with_index do |post, i| %>
    <div><%= link_to post.title, user_post_path(@user, post) %> / оценка: <%= post.score %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Создать новый пост', new_user_post_path(@user) %>
</div>